{% extends 'templates/default.twig' %}

{% block content %}
    Register
    <form action="{{ path_for('auth.register') }}" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control">
        </div>
        {{ csrf.field | raw }}
        <div class="form-group">
            <input type="submit" value="Register">
        </div>
    </form>
{% endblock %}
