{% extends 'templates/default.twig' %}

{% block content %}
<div class="row">


<div class="well">
    <form action="{{ path_for('auth.register') }}" method="POST" class="form-horizontal">
        <fieldset>
        <legend>Register</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="username">Username</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="email">E-Mail</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="email" placeholder="E-Mail">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="password">Password</label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="confirm_password">Confirm Password</label>
            <div class="col-md-10">
                <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
            </div>
        </div>
        {{ csrf.field | raw }}
            <button class="btn btn-raised btn-primary" type="submit">Register</button>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}
