{% extends 'templates/default.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1><strong>404</strong> | That's an error.</h1>
            </div>
            <h4>The requested URL <strong>{{ request_uri|escape }}</strong> was not found on this server. <br> <small>That's all we know.</small>  </h4>
        </div>
    </div>
</div>
{% endblock %}
