{% extends 'admin/templates/admin.twig' %}
{% set page = "adminHome" %}
{% block content %}
    <h5 class="text-center"><b>{{ auth.user.username }}</b>, welcome to the Admin Dashboard. Use the navigation bar above to find your way around.</h5>
{% endblock %}
