<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Slim 3 Authentication</title>
    </head>
    <body>
    {% include 'templates/partials/nav.twig'%}
    {% include 'templates/partials/alerts.twig'%}
    {% block content %}{% endblock %}
    </body>
</html>
