{% if flash.getMessage('success').0 %}
    <div class="alert alert-success" role="alert">
        <strong><i class="fa fa-check"></i> Success:</strong> {{ flash.getMessage('success').0 }}
    </div>
{% endif %}

{% if flash.getMessage('info').0 %}
    <div class="alert alert-info" role="alert">
        <strong><i class="fa fa-info"></i> Info:</strong> {{ flash.getMessage('info').0 }}
    </div>
{% endif %}

{% if flash.getMessage('warn').0 %}
    <div class="alert alert-warning" role="alert">
        <strong><i class="fa fa-exclamation-triangle"></i> Warning:</strong> {{ flash.getMessage('warn').0 }}
    </div>
{% endif %}

{% if flash.getMessage('error').0 %}
    <div class="alert alert-danger" role="alert">
        <strong><i class="fa fa-ban"></i> Error:</strong> {{ flash.getMessage('error').0 }}
    </div>
{% endif %}
